body{
    background-color: black;
}
.jumbotron {
    background-image: url("../images/wallpaper1.jpg");
    background-size: cover;
    background-position: center center;
    color: white;
    /* height: 600px; */

}
.card{
    background-image: url("../images/wallpaper1.jpg");
    background-size: cover;
    background-position: center center;
    color: white;
    padding-top: 0%;
    margin-top: 0%;
}
header {
    width: 100;
    /* background-color: rgb(55, 56, 55); */
    color:black;
}
nav ul {
    display: flex;
    box-flex: row;
    /* padding-bottom: 10px; */
    /* padding-top: 10px; */
    overflow: hidden;
}

nav a {
    /* color: white; */
    color: black;
}

nav li {
    list-style: none;
    padding: 10px;
    /* padding-bottom: 500px; */
    padding-top: 0px;
    margin-top: 0%;
}
h1{
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    padding: 0px;
    margin: 0px;
}
.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* padding-top: 300px; */
}

.flex-container>div {
    padding: 20px;
}
.flex-container p{
    color:blue;
}
.form-area {
    display: flex;
    background-color: rgba(46, 44, 44, 0.8);
    border-radius: 25px;
    padding: 3.9em;
    padding-top: 1.8em;
    padding-bottom: 0%;
}
/* .result {
    display: flex;
    flex-direction: column;
    order: 2;
} */

#messa {
    margin-top: 20px;
    height: 300px;
    margin-bottom: 100px;
    background-color: transparent;
    color: white;
}

#messa::placeholder {
    color:black;
}
#amount{
    background-color: transparent;
    color: white;
}
#amount::placeholder {
    color:black;
}
h6{
    padding-top: 1.8em;
}
footer{
    background-image: url(../images/last.jpg);
}
#descrptipn{
    color: black;
}
